:root {
    --varela: "Varela Round", sans-serif;
    --jetbrains: "JetBrains Mono", monospace;
    --black-color: black;
    --white-color: rgb(255, 255, 255);
    --primary-font-color: rgb(30, 35, 55);
    --font-size-primary: 48px;
    --font-size-secondary: 26px;
    --font-size-third: 24px;
    --font-size-text-mobile: 17px;
}

@keyframes fromlefttoright {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

body {
    font-family: var(--varela), "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

.header-container {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
}

.header-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 5vw;
    height: 60px;
}

.header-nav-logo {
    order: 1;
}

.image-logo {
    width: auto;
    height: 50px;
}

.header-nav-navigation {
    order: 2;
    margin-left: auto;
}

.header-nav-navigation-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav-navigation-item {
    margin: 0 10px;
}

.header-nav-link {
    outline: 0;
    text-decoration: none;
    color: black;
}

.header-nav-link:hover {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.main-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
}

.container-hero {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white-color);
}

.wrapper-container {
    display: flex;
    flex-flow: row wrap;
    margin: 3vw 5vw;
}

.hero-box-main {
    order: 1;
    width: auto;
    align-self: center;
}

.hero-box-psx-cover {
    width: 500px;
    order: 2;
    margin-left: auto;
}

.main-title {
    font-size: var(--font-size-primary);
    font-family: var(--jetbrains);
}

.general-text-info {
    font-family: var(--varela);
    font-size: var(--font-size-secondary);
    margin: 0 0 0 20px;
    max-width: 500px;
}

.hero-title {
    max-width: 600px;
    animation: fromlefttoright 1s 1;
}

.hero-btn {
    margin-left: 20px;
}

.cover-playstation {
    width: 487;
    height: auto;
}

.cover-playstation:hover {
    box-shadow: 0px 1px 0px #00a8e7, 0px 0px 5px 0px #00a8e7, 0px 0px 1px 0px #00a8e7;
}

#reset-btn {
    width: 180px;
}

.container-fusion-search {
    background-color: rgb(244, 244, 245);
    color: var(--primary-font-color);
}

.fusion-search {
    background-color: var(--primary-font-color);
    color: var(--white-color);
}

.fusion-search:hover {
    background-color: rgb(78, 92, 149);
}

.img-group {
    pointer-events: none;
}

.container-fusion-calculator {
    background-color: rgb(255, 134, 82);
    color: rgb(122, 10, 0);
}

.fusion-calculator {
    background-color: var(--white-color);
}

.fusion-calculator:hover {
    background-color: rgb(223, 97, 5);
}

.container-about {
    background: rgb(30, 35, 55);
    color: var(--white-color);
}

.about-box-info {
    order: 1;
    width: 600px;
}

.about-box-kaiba {
    order: 2;
    margin-left: auto;
}

.container-about-box {
    display: flex;
    flex-flow: column wrap;
    margin: 5vw 5vw;
    justify-content: center;
    align-content: center;
}

.text-about {
    font-size: var(--font-size-secondary);
    max-width: 800px;
}

.about-title {
    background-color: var(--white-color);
    color: var(--primary-font-color);
}

.about-title:hover {
    background-color: rgb(243, 178, 166);
}

.btn-about {
    color: rgb(30, 35, 55);
    background-color: rgb(243, 178, 166);
    font-family: var(--varela);
    font-size: 1rem;
}
.btn-about:hover {
    color: rgb(12, 14, 22);
    background-color: rgb(237, 139, 121);
}

.footer-container {
    margin: auto 0 0 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--black-color);
}

.footer-bottom {
    margin: 0 5vw;
    background-color: var(--black-color);
}

.millennium-pendant {
    height: 1rem;
    width: 1rem;
    margin-left: 10px;
}

.gh-logo {
    height: 1rem;
    width: 1rem;
    background-color: white;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .main-title {
        margin-top: 30px;
        font-size: var(--font-size-third);
        max-width: 310px;
    }

    .general-text-info {
        margin-top: 20px;
        max-width: auto;
        font-size: var(--font-size-text-mobile);
    }

    .hero-box-psx-cover {
        display: none;
    }

    .about-box-kaiba {
        display: none;
    }

    .footer-bottom {
        font-size: 12px;
    }
    #container-contribution {
        font-size: 15px;
    }
}

@media (max-width: 482px) {
    .header-nav {
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .header-nav-logo {
        margin-top: 20px;
    }

    .header-nav-navigation {
        margin: 10px 0;
    }

    .hero-box-psx-cover {
        display: none;
    }
}
